<h1>Listing storms</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Snowfall</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storms.each do |storm| %>
  <tr>
    <td><%= storm.day %></td>
    <td><%= storm.snowfall %></td>
    <td><%= link_to 'Show', storm %></td>
    <td><%= link_to 'Edit', edit_storm_path(storm) %></td>
    <td><%= link_to 'Destroy', storm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storm', new_storm_path %>
